@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");

:root {
  --theme: #1d1e20;
  --primary: white;
  --profile-shadow: #414244;
  --main-shadow: #414244;
  --box: #2e2e33;
  --box-shadow:#414244;
  --background: url(../images/bg.png);
  --speed: 180s;
  --bgimage-width: -6221px;
}

html {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}
body {
  margin: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary)
}

main {
  background-color: var(--theme);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 10px 10px var(--main-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .5s ease;
}


main div {
  margin-bottom: 2rem;
  width: 30vw;
}

main .profile img {
  width: 40%;
  border-radius: 50%;
  box-shadow: 10px 6px var(--profile-shadow);
  transition: all .5s ease;
}

main .profile img:hover {
  cursor: pointer;
  transform: translate(10px, 10px);
  box-shadow: 0px 0px var(--profile-shadow);
}

main .profile h1 {
  font-size: 2rem;
  font-weight: bolder;
}

img {
  margin-bottom: 0.3rem;
}

a {
  text-decoration: none;
}

a div {
  background-color: var(--box);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 10px 10px var(--box-shadow);
  text-align: center;
  transition: all .5s ease;
}

a div:hover {
  background-color: var(--box-shadow);
  transform: translate(10px, 10px);
  box-shadow: 0px 0px var(--box);
}

a div:hover p {
  color: var(--primary);
}

a div img {
  width: 2rem;
}

a div p {
  display: inline;
  color: white;
  text-align: center;
  position: relative;
  top: -0.5rem;
}

a div:active {
  transform: translate(10px, 10px);
  box-shadow: 0px 0px var(--box);
}

@media (max-width: 900px) {
  main {
    width: 80%;
    padding: 1.5rem;
    box-shadow: none;
  }

  main:hover {
    transform: none;
    box-shadow: none;
  }

  main .profile h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  main .profile img {
    width: 60%;
  }

  main .profile img:hover {
    transform: none;
    box-shadow: 10px 6px var(--profile-shadow);
  }

  main div {
    width: 70vw;
  }
}

@media (max-width: 400px) {
  main a div p span {
    display: none;
  }
}

/* Background Scroll */

[class*="overlay"] {
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  position:fixed;
/*  clip-path: polygon(0 0%, 112% 0, 0 112%, 0 100%);*/
/*  clip-path: ellipse(100% 100% at 5% 5%); */
}

.overlay{
  background-color: var(--theme);
  background-image: var(--background);
  -webkit-animation: var(--speed) scroll infinite linear;
  -moz-animation: var(--speed) scroll infinite linear;
  -o-animation: var(--speed) scroll infinite linear;
  -ms-animation: var(--speed) scroll infinite linear;
  animation: var(--speed) scroll infinite linear;
  background-size: auto 200%;
}

.flex {
  display: flex;
  justify-content: center;
}

.bg-color {
  padding: 1.5em 1em;
  margin: .5em;
  border-radius:5px;
  opacity:0.8;
}

@-webkit-keyframes scroll{
  100%{
    background-position:var(--bgimage-width) -0px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:var(--bgimage-width) -0px;
  }
}

@-o-keyframes scroll{
  100%{
    background-position:var(--bgimage-width) -0px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:var(--bgimage-width) -0px;
  }
}

@keyframes scroll{
  100%{
    background-position:var(--bgimage-width) -0px;
  }
}