@charset "UTF-8";

:root {
    --blue: #19a0c2;
    --indigo: #6574cd;
    --purple: #9561e2;
    --pink: #f66d9b;
    --red: #e3342f;
    --orange: #f6993f;
    --yellow: #ffed4a;
    --green: #38c172;
    --teal: #4dc0b5;
    --cyan: #19a0c2;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #19a0c2;
    --secondary: #6c757d;
    --success: #38c172;
    --info: #19a0c2;
    --warning: #ffed4a;
    --danger: #e3342f;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Nunito", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    line-height: 1.15
}

body {
    background-color: #f8fafc;
    color: #232323;
    font-family: Nunito, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-align: left
}

a {
    background-color: transparent;
    color: #19a0c2;
    text-decoration: none
}

a:hover {
    color: #10687e;
    text-decoration: underline
}

img {
    border-style: none
}

img {
    vertical-align: middle
}

.lead {
    font-size: 1.125rem;
    font-weight: 300
}

.img-fluid {
    height: auto;
    max-width: 100%
}

.container,
.container-fluid,
.container-md,
.container-sm {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

@media (min-width:576px) {

    .container,
    .container-sm {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 720px
    }
}

@media (min-width:992px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 960px
    }
}

@media (min-width:1200px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 1140px
    }
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%
}

    .col-md-8 {
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%
    }

.list-group-item-action {
    color: #495057;
    text-align: inherit;
    width: 100%
}

.list-group-item-action:focus,
.list-group-item-action:hover {
    background-color: #f8f9fa;
    color: #495057;
    text-decoration: none;
    z-index: 1
}

.list-group-item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    display: block;
    padding: .75rem 1.25rem;
    position: relative
}

.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit
}

.list-group-item:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit
}

.list-group-item-secondary {
    background-color: #2e3234;
    color: #dadce0
}

.list-group-item-secondary.list-group-item-action:focus,
.list-group-item-secondary.list-group-item-action:hover {
    background-color: #3c4043;
    color: #dadce0
}

.rounded {
    border-radius: .25rem !important
}

.d-flex {
    display: flex !important
}

.flex-column {
    flex-direction: column !important
}

.justify-content-center {
    justify-content: center !important
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important
}

.my-2 {
    margin-top: .5rem !important
}

.my-2 {
    margin-bottom: .5rem !important
}

.pt-2,
.py-2 {
    padding-top: .5rem !important
}

.py-2 {
    padding-bottom: .5rem !important
}

.pt-5,
.py-5 {
    padding-top: 3rem !important
}

.my-auto {
    margin-top: auto !important
}

.mx-auto {
    margin-right: auto !important
}

.my-auto {
    margin-bottom: auto !important
}

.mx-auto {
    margin-left: auto !important
}

.text-center {
    text-align: center !important
}

.text-break {
    word-wrap: break-word !important;
    word-break: break-word !important
}

.fa,
.fab,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1
}

.fa-coffee:before {
    content: ""
}

.fa-discord:before {
    content: ""
}

.fa-github:before {
    content: ""
}

.fa-home:before {
    content: ""
}

.fa-steam:before {
    content: ""
}

.fa-telegram:before {
    content: ""
}

.fa-twitch:before {
    content: ""
}

.fa-twitter:before {
    content: ""
}

.fa,
.fas {
    font-weight: 900
}

.fa,
.fas {
    font-family: Font Awesome\ 5 Free
}

.fab {
    font-weight: 400
}

.fab {
    font-family: Font Awesome\ 5 Brands
}

.hvr-grow-shadow {
    box-shadow: 0 0 1px transparent;
    display: inline-block;
    transform: perspective(1px) translateZ(0);
    transition-duration: .3s;
    transition-property: box-shadow, transform;
    vertical-align: middle
}

.hvr-grow-shadow:active,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, .5);
    transform: scale(1.1)
}

.user-page-container {
    min-height: 100vh;
    position: relative
}

.list-group-rounded .list-group-item {
    border-radius: 1rem !important
}